#profile{
    width: auto;
    text-align: center;
    height: 100%;
    position: relative;
    box-shadow: 5px 6px 13px white;
    background-color: none !important;
}

#form-firstName{
    width: auto;
    padding-top: 10px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    z-index: 3;
}

@keyframes example{
    from {top: -500px; opacity: 50%}
    to {top: 20px; backround-color: white;}
    to {transform: translateY(0); background-color: rgb(223, 238, 241); opacity: 80%; box-shadow: 5px 9px 13px rgb(78, 176, 233); padding-top: 10px; padding-bottom: 10px;}
}

#form-lastName{
    width: auto;
    margin-top: 20px; margin-bottom: 20px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
}

#form-company{
    width: auto;
    margin-top: 20px; margin-bottom: 20px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: .7s;
    animation-fill-mode: forwards;
    z-index: 1;

}

#form-city{
    width: auto;
    margin-top: 20px; margin-bottom: 20px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    z-index: 1;
   
}

#form-question{
    width: auto;
    margin-top: 20px; margin-bottom: 100px;
    padding-bottom: 50px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }