.subject {
    font-size: larger;
    font-weight: bold;
    display: flex;
}
.results {
    display: flex;
}

.form{
    height: 84vh;
    overflow: auto;
}

.safe {
    background-color: green;
}

.adequate {
    background-color: yellow;
}

.at-risk {
    background-color: red;
}
