
form{
  margin-top: 2em;
  margin-inline: auto;
  max-width: 30%;
  text-align: center;
  box-shadow: 5px 6px 23px white;
  background-color: rgb(91, 168, 199);
  width: 550px;
  height: 74vh;
  overflow: auto;
  text-align: center;
  /* position: relative; */
}

.form-text{
  color: rgb(40, 40, 99);
  font-weight: 50px ;
  padding-top:6px;
}

/* .form-group {
  font-size: large;
} */

/* .form-group {
align-items: center;
padding:10px
} */

.form-control {
  align-items: center;
  padding: 10px;
}

#loginBtn {
  margin-bottom: .5em;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(43, 61, 121);
}

#loginBtn:hover {
  background-color: rgba(36, 56, 121, 0.685);
  color: white;
  padding: 7px 30px;
}

.create-link {
  color: white;
  font-weight: 500;
}

.create-link:hover {
  color: white;
  text-decoration: none;
}

.optional {
  color: black;
  font-size: 10px;
  font-weight: normal;
}

@keyframes example{
  from {top: -500px;}
  to {top: 20px; backround-color: white;}
  to {transform: translateY(0); background-color: rgb(223, 238, 241); opacity: 80%; box-shadow: 5px 9px 13px rgb(78, 176, 233); padding-top: 10px; padding-bottom: 10px;}
}

#form-firstName{
  width: 90%;
  padding-top: 10px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 3.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 3;
}

#form-lastName{
  width: 90%;
  padding-top: 10px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 2;
}

#form-email{
  width: 90%;
  padding-top: 10px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 2.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-password{
  width: 90%;
  padding-top: 10px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-company{
  width: 90%;
  padding-top: 10px;
  height: 60px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-position{
  width: 90%;
  padding-top: 10px;
  height: 60px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-date{
  width: 90%;
  padding-top: 10px;
  height: 60px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-phone{
  width: 90%;
  padding-top: 10px;
  height: 60px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-birth{
  width: 90%;
  padding-top: 10px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-gender{
  width: 100%;
  padding-top: 50px;
  padding-left: 2px; padding-right: 2px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-gender1{
  height:90px;
  width: 100%;
  padding: 2px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-social{
  width: 90%;
  padding-top: 10px;
  height: 60px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-address{
  width: 100%;
  padding-top: 10px;
  height: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-credit{
  width: 100%;
  padding-top: 5px; padding-bottom: 5px;
  padding-right: 3px; padding-left:3px;
  height: 60px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

#form-credit1{
  width: 100%;
  padding-top: 10px; padding-bottom: 10px;
  padding-right: 3px; padding-left:3px;
  height: 40px;
  position: relative;
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
} 