
form{
  margin-top: 3em;
  margin-inline: auto;
  max-width: 30%;
  text-align: center;
  box-shadow: 5px 6px 23px white;
  background-color: rgb(91, 168, 199);
  width: 550px;
  height: auto;
  text-align: center;
  position: relative;

}

.form-text{
  color: rgb(40, 40, 99);
  font-weight: 50px ;
  padding-top:6px;
}

.form-group {
  font-size: large;
}
/* 
.container {
  background-color: white;
  margin: auto;
  margin-top: 50px;
  width: 35%;
  border: 3px solid ;
  border-radius: 25px;
  border-width: 6px;
  box-shadow: 5px 5px 5px 5px rgb(218, 211, 211);
  padding: 0%;
  align-items: center;
} */

.form-group {
align-items: center;
padding:10px
}

.form-control {
  align-items: center;
  padding: 10px;
}