
form{
  margin-top: 2em;
  margin-inline: auto;
  max-width: 30%;
  text-align: center;
  box-shadow: 5px 6px 23px white;
  background: linear-gradient(to bottom, white, #12c2e9,  #01181f);
  width: 550px;
  height: 68vh;
  /* overflow: auto; */
  text-align: center;
  position: relative;
 } 

.form-text{
  color: rgb(0, 0, 0);
  font-weight: 500 ;
  padding-top:6px;
}

.form-group {
  font-size: large;
}

.form-group {
align-items: center;
padding:10px
}

.form-control {
  align-items: center;
  padding: 10px;
}

#loginBtn{
  margin-bottom: .5em;
}

.link {
  color: #FFF;
  font-weight: 500;
  text-decoration: none
}

.link:hover {
  color: #FFF;
  font-weight: 500;
  text-decoration: none
}

#loginBtn {
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(101, 192, 214);
}

#loginBtn:hover {
  background-color: rgba(232, 232, 233, 0.918);
  color: white;
  padding: 7px 30px;
  text-decoration: none
}

.signup {
  color: black;
}

.signup:hover {
  color: #FFF;
  font-weight: 500;
  font-size: 18px ;
}
