
form{
  margin-top: 2em;
  margin-inline: auto;
  max-width: 30%;
  text-align: center;
  box-shadow: 5px 6px 23px white;
  background-color: rgb(91, 168, 199);
  width: 550px;
  height: 74vh;
  /* overflow: auto; */
  text-align: center;
  position: relative;
 } 

.form-text{
  color: rgb(40, 40, 99);
  font-weight: 500 ;
  padding-top:6px;
}

.form-group {
  font-size: large;
}

.form-group {
align-items: center;
padding:10px
}

.form-control {
  align-items: center;
  padding: 10px;
}

#loginBtn{
  margin-bottom: .5em;
}

.link {
  color: #FFF;
  font-weight: 500;
  text-decoration: none
}

.link:hover {
  color: #FFF;
  font-weight: 500;
  text-decoration: none
}

#loginBtn {
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(43, 61, 121);
}

#loginBtn:hover {
  background-color: rgba(36, 56, 121, 0.918);
  color: white;
  padding: 7px 30px;
  text-decoration: none
}

.signup {
  color: rgb(40, 40, 99);
}

.signup:hover {
  color: #FFF;
  font-weight: 500;
  font-size: 18px ;
}